//
// Copyright 2016 Minder Labs.
//

@import './css/common';

.crx-panel {
  max-height: 500px;

  pre {
    max-width: 500px;
    white-space: pre-wrap;
    overflow-y: scroll;
    padding: 8px;
    background-color: gainsboro;
  }
}
