//
// Copyright 2016 Minder Labs.
//

@import (reference) './css/mixin';

.ux-board {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  overflow-x: scroll;

  .ux-board-columns {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;

    padding: 8px;

    .ux-board-column {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-width: 300px;

      border-radius: 8px;
      background-color: #DDDDDD;
      margin: 8px;
      padding: 8px;

      > .ux-board-header {
        margin-bottom: 8px;
      }

      .ux-board-list {
        display: flex;
        flex-grow: 1;

        .ux-list {
          .ux-list-item {
            .ux-text-noselect;

            background-color: white;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
