//
// Copyright 2016 Minder Labs.
//

@import './css/theme.less';

.ux-list {

  .ux-list-item {
    div {
      cursor: pointer;
    }
  }

  .ux-list-item:hover {
    background-color: lightblue;
  }
}

.ux-list-padded {

  .ux-list-item {
    padding: @ux-section-padding;
  }
}