//
// Copyright 2016 Minder Labs.
//

@import './css/theme.less';

.ux-list {
  .ux-list-item {
    padding: 2px 8px;

    div {
      cursor: pointer;
    }
  }

  .ux-list-item:hover {
    background-color: lightblue;
  }
}
