//
// Copyright 2016 Minder Labs.
//

@import './css/theme';

@ux-sidebar-width: 200px;

.ux-sidebar {
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow: hidden;

  .ux-sidebar-drawer {
    position: absolute;
    box-sizing: border-box;
    width: @ux-sidebar-width;
    overflow: hidden;
    height: 100%;

    background-color: whitesmoke;

    border-right: 1px solid transparent;
    box-shadow: none;

    -webkit-transform: translateX(-@ux-sidebar-width);
    transition: all 0.3s ease;

    z-index: 999;

    > div {
      position: relative;

      input {
        position: absolute;

        margin: 0;
        padding: 0;
        height: 0;
        border: none;
      }
    }
  }
  .ux-sidebar-drawer.ux-open {
    -webkit-transform: translateX(0);

    border-right: 1px solid gray;
    box-shadow: @ux-boxshadow;
  }
}
