//
// Copyright 2016 Minder Labs.
//

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

input, button, select {
  outline: none;
}

h1, h2, h3, h4 {
  font-weight: 100;
  margin: 8px 0;
}

label {
  display: block;
  padding: 4px 0;
}

pre {
  font-size: 12px;
  white-space: pre-wrap;
  margin: 0;
}

.crx-panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.crx-section {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 12px;
}
.crx-debug-section {
  background-color: #F5F5F5;
}

.crx-expand {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.crx-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.crx-form {
  .crx-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      width: 50px;
    }
  }
}
