//
// Copyright 2016 Alien Laboratories, Inc.
//

.app-toolbar-create {
  background-color: #DDD;
  border-top: 1px solid #BBB;
  height: 40px;

  select {
    margin-right: 8px;
    font-size: 14px;
  }

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
  }

  button {
    border: none;
    background-color: transparent;
  }

  i {
    color: red;
  }
}
