//
// Copyright 2016 Alien Laboratories, Inc.
//

.app-toolbar-create {
  select {
    margin-right: 8px;
    font-size: 14px;
  }

  input {
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
  }

  button {
    border: none;
    background-color: transparent;
  }

  i {
    color: red;
  }
}
