<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Minder</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One:400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/node_modules/tether/dist/css/tether.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="/css/cover.css">
  </head>

  <body>
    {{> nav }}

    {{{ body }}}

    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/tether/dist/js/tether.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  </body>

</html>
