#
# pip install -U -r requirements.txt
#

#
# Tools
#

nose
nose-progressive
easydict
uuid

#
# Framework
#

Flask
Flask-GraphQL

#
# Graphene
#   - graphql-core
#   - graphql-relay
#

graphene>=1.0
gql
