{{#section 'head'}}
  <link rel="stylesheet" href="/assets/website.css">
{{/section}}

<div class="site-container">
  <div class="site-column">

    <div class="site-window-container">
      <div class="site-window">
        <div class="site-section">
          <h1>Accounts</h1>

          {{#each accounts}}
          <h2>{{ name }}</h2>
          <div>
          {{{ infoHtml }}}
          </div>
          {{/each}}

        </div>
      </div>
    </div>
  </div>

  <script src="/assets/website.bundle.js"></script>
</div>