{{#section 'head'}}
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="/assets/{{ bundle }}.css">
{{/section}}

<div id="{{ config.root }}" class="app-web">

  {{!-- Loader gets replaced when app loads. --}}
  {{#if loader}}
  <div>
    <div class="ux-loading-bar">
      <div class="ux-load-bar"></div>
      <div class="ux-load-bar"></div>
      <div class="ux-load-bar"></div>
    </div>

    <div class="ux-loading-title">
      <h1>minder</h1>
    </div>
  </div>
  {{/if}}

</div>

{{!-- Safestring syntax. --}}
<script>
  window.config = {{{ toJSON config }}};
</script>

<script src="/assets/{{ bundle }}.bundle.js"></script>
