{{#section 'head'}}
  <link rel="stylesheet" href="/assets/website.css">
{{/section}}

<div class="site-container">
  <div class="site-column">
    <div class="site-window-container">
      <div class="site-window site-admin-window">
        <div class="site-section">
          <h1>Error {{ code }}</h1>
          <pre>{{ err.stack }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
