{{#section 'head'}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One:400">
  <link rel="stylesheet" href="/assets/website.css">
{{/section}}

<div class="site-container">
  <div class="site-column site-center">

    <div class="site-window-container">
      <div class="site-window">
        <div class="site-section">
          <div class="site-header site-row" style="width: 400px">
            <h1 class="site-expand">Welcome</h1>
            <img src="favicon.ico"/>
          </div>

          <div class="site-buttonbar">
            <a href="/user/login">
              <button>Login</button>
            </a>

            <a href="minder.zip">
              <button class="site-install-crx">Install Chrome Extension</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="site-title">
      <div></div>
      <div class="site-mind">mind</div>
      <div>er</div>
    </div>

  </div>

  <script src="/assets/website.bundle.js"></script>
  <script>
    new Words().start(3, 30);
  </script>
</div>
