{{#section 'head'}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One:400">
  <link rel="stylesheet" href="/assets/website.css">

  {{!-- Chrome Extension. --}}
  <link rel="chrome-webstore-item" href="{{ crxUrl }}">
{{/section}}

<div class="site-container">
  <div class="site-column site-center">

    <div class="site-window-container">
      <div class="site-window">
        <div class="site-section">
          <div class="site-header site-row" style="width: 400px">
            <h1 class="site-expand">Welcome</h1>
            <img src="favicon.ico"/>
          </div>

          <div>{{ message }}</div>

          {{#if login}}
          <div class="site-buttons">
            <a href="/user/login">
              <img class="site-login" alt="Google Login">
            </a>
          </div>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="site-title">
      <div></div>
      <div class="site-mind">mind</div>
      <div>er</div>
    </div>

  </div>
</div>

<div>
  <script src="/assets/website.bundle.js"></script>
  <script>
    // Animation.
    new Words().start(3, 30);
  </script>
</div>
