<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Minder</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One:400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {{{ sections.head }}}
  </head>

  <body>
    {{{ body }}}
  </body>

</html>
