//
// Copyright 2016 Minder Labs.
//

.ux-list-tasks {

  .ux-scroll-container {
    max-height: 120px;
  }

  .ux-list-item {
    font-size: 15px;

    .ux-icon-checkbox {
      color: darkgreen;
      font-size: 15px;
    }
  }

  .ux-icon-add {
    float: right;
  }
}
