//
// Copyright 2016 Minder Labs.
//

// TODO(burdon): Separate CSS for mobile, column, etc.

.app-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #CCC;

  .app-main-panel {
    width: 500px;

    box-shadow: 4px 4px 16px #AAA;
  }
}
