//
// Copyright 2016 Minder Labs.
//

body {
  margin: 0;
  overflow: hidden;

  font-family: Roboto, sans-serif;
}

a {
  color: darkblue;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 100;
  margin: 0;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 19px;
}
h3 {
  margin: 6px 0;
  font-size: 18px;
}

pre {
  white-space: pre-line;
}

button, input {
  outline: none;
  border: 1px solid #AAA;
  font-size: 18px;
  margin: 0;
  padding: 2px;
}
button {
  background-color: #CCC;
  justify-content: center;
}
button:hover {
  background-color: #999;
}

i.material-icons {
  cursor: pointer;
}

.app-main-container {
  position: fixed;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: #CCC;

  .app-main-panel {
    display: flex;
    flex-direction: column;
    width: 500px;

    background-color: white;
    box-shadow: 4px 4px 16px #AAA;

    .app-header {
      background-color: lightblue;
      color: darkblue;

      a {
        padding-left: 8px;
      }
    }

    .app-footer {
      background-color: #666;
    }
  }
}

.app-list {
  .app-scroll-container {
    background-color: #F5F5F5;
  }

  .app-toolbar {
    button {
      font-size: 12px;
    }
  }

  .app-list-item {
    div {
      cursor: pointer;
    }
  }
  .app-list-item:hover {
    background-color: lightblue;
  }
}

.app-section {
  padding: 8px;
}

.app-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
}
.app-column::-webkit-scrollbar {
  width: 4px;
}
.app-column::-webkit-scrollbar-thumb {
  background-color: #666;
}

.app-scroll-container {
  overflow-y: scroll;
}

.app-row {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;

  i.material-icons:first-child {
    padding-right: 8px;
  }
}

.app-toolbar {
  .app-row;

  button {
    margin: 0 2px;
  }
}

.app-center {
  justify-content: center;
}

.app-expand {
  display: flex;
  flex-grow: 1;
}

.app-debug {
  font-size: 11px;

  //> div {
  //  > div {
  //    left: 0 !important;
  //    width: 300px !important;
  //  }
  //}
}

.app-icon-add:after {
  color: #999;
  content: 'add';
}
.app-icon-add:hover:after {
  color: red;
  content: 'add_circle';
}
