//
// Copyright 2016 Minder Labs.
//

    /*
.app-search-layout {
  flex-grow: 0;

  .app-main-layout {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .app-search-container {
      margin-bottom: 8px;

      > .ux-section {
        box-shadow: 0 4px 8px -4px #CCC;
      }
    }

    // TODO(burdon): Factor out.
    .app-drop {
      position: relative;
      display: flex;

      .app-drop-panel {
        position: absolute;
        width: 100%;

        padding-bottom: 8px;

        background-color: whitesmoke;
        border-bottom: 1px solid lightgray;
        box-shadow: 0 4px 8px -4px #CCC
      }
    }
  }
}
    */
