body {
  margin: 0;
  overflow: hidden;
  background-color: #CCC;
}
input,
textarea,
button {
  outline: none;
  spellcheck: none;
}
#app-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Roboto, sans-serif;
}
#app-container > div {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: whitesmoke;
  box-shadow: 4px 4px 16px #AAA;
}
#app-container > div h1 {
  margin: 0;
  padding: 8px;
  font-weight: 100;
}
.app-section {
  padding: 8px;
}
.app-expand {
  flex-grow: 1;
}
.app-panel {
  display: flex;
}
.app-panel-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app-toolbar {
  display: flex;
  flex-direction: row;
}
.app-toolbar button,
.app-toolbar input {
  font-size: 20px;
}
.app-toolbar input {
  outline: none;
  spellcheck: none;
}
.app-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.app-debug {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  font-size: 12px;
  color: #666;
}
.app-key {
  color: #999;
  font-size: small;
}
.app-icon {
  cursor: pointer;
}
.app-icon-medium {
  font-size: 18px;
}
.app-icon-edit {
  color: #CCC;
}
.app-icon-edit:hover {
  color: #333;
}
.app-icon-star {
  color: orange;
}
.app-list .app-list-item {
  padding: 2px;
}
.app-list .app-list-item > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.app-list .app-list-item > div .app-key {
  width: 100px;
}
.app-list .app-list-item > div .app-icon-star {
  margin-right: 16px;
}
.app-list .app-list-item > div .app-field-title {
  cursor: pointer;
}
.app-list .app-list-item:hover {
  background-color: #DDD;
}
.app-item-detail {
  display: flex;
  flex-direction: column;
}
.app-item-detail .app-field-title {
  font-size: 24px;
}
.app-item-detail .app-toolbar {
  margin-top: 24px;
}
