//
// Copyright 2016 Alien Laboratories, Inc.
//

.app-list {
  .app-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .app-key {
      width: 100px
    }

    .app-icon-star {
      margin-right: 16px;
    }
  }
}
