//
// Copyright 2016 Minder Labs.
//

.canvas {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  background-color: white;

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100px;
    background-color: #EEEEEE;
    border-radius: 4px;
    margin: 8px;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 60px;

    background-color: lightblue;
    border-radius: 4px;
  }
}
