//
// Copyright 2016 Minder Labs.
//

body {
  box-sizing: border-box;
}

.canvas {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  background-color: white;

  .column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100px;
    background-color: #EEE;
    border-radius: 4px;
    margin: 8px;

    padding: 8px;

    .header {
      margin: 4px;
      user-select: none;
    }

    transition: background-color 200ms linear;
  }

  .cards {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .drop-target {
      font-size: 8px;

      .placeholder {
        display: none;
        background-color: white;
      }
    }
    .drop-target.last {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    .drop-target.active {
      min-height: 60px;

      .placeholder {
        display: block;
        height: 60px;
        margin-bottom: 8px;
        border-radius: 4px;
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      height: 60px;
      margin-bottom: 8px;

      background-color: cornflowerblue;
      border-radius: 8px;
      user-select: none;
      cursor: pointer;

      .meta {
        font-size: 10px;
      }
    }
    // TODO(burdon): Disappears straight away so drop shrinks and we're immeditately in the drop below.
    .card.dragging {
      background-color: transparent;
      display: none;
    }
  }
}
