//
// Copyright 2016 Minder Labs.
//

.ux-list {

  .ux-list-item {

    .ux-icon-delete {
      display: none;
    }
  }
  .ux-list-item:hover {

    .ux-icon-delete {
      display: inline;
    }
    .ux-icon-type {
      display: none;
    }
  }
}
