//
// Copyright 2016 Minder Labs.
//

.app-status-toolbar {
  justify-content: space-between;
  padding: 2px;

  background-color: #333;
  color: whitesmoke;

  div {
    display: flex;
  }

  i {
    font-size: 18px;
  }
}
