//
// Copyright 2016 Minder Labs.
//

@import './theme.less';

//
// General Rules:
// Containers should have not margins or padding.
//

.ux-fullscreen {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ux-main-layout {

  > .ux-header {
    padding: 0 8px;

    background-color: @ux-header-background;
    color: @ux-header-color;

    i.ux-icon {
      margin: 0;
    }

    a {
      color: @ux-header-color;
    }
  }
}

//
// Panel
//

.ux-panel {
  display: flex;
}

//
// Canvas
//

.ux-canvas-container {
  display: flex;
  flex-grow: 1;
}

.ux-canvas {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  > div > .ux-columns {
    border-bottom: 1px solid #DDD;
  }

  .ux-canvas-menu-bar {
    display: flex;
    flex-direction: row;

    .ux-bar {
      padding: 0 6px;
      border-left: 1px solid #DDD;

      .ux-icon {
        font-size: @ux-font-large;
      }
    }
  }
}

//
// Card
//

.ux-card-list {
  background-color: #FAFAFA;
}

.ux-card {
  display: flex;
  flex-direction: column;
  margin: 4px 8px;

  background-color: white;
  box-shadow: 0 1px 1px #AAA;

  .ux-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: gainsboro;
    padding: 4px;

    h1 {
      font-size: @ux-font-medium;
    }

    .ux-icon {
      font-size: @ux-font-small;
    }
  }

  .ux-card-section {
    padding: 4px;
  }
}

.ux-card-rounded {
  border-radius: 2px;

  .ux-card-header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .ux-card-body {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

//
// Content section.
//

.ux-section {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  margin: 4px 8px;
  border: 1px solid #DDD;
  border-radius: 4px;
}
.ux-section-header {
  padding: @ux-section-header-padding;

  background-color: @ux-section-header-background;
  color: @ux-section-header-color;

  i.ux-icon {
    color: @ux-section-header-color;
  }

  .ux-title {
    padding: 0 2px;
  }
}
.ux-section-header-dark {
  background-color: @ux-section-header-dark-background;
  color: @ux-section-header-dark-color;
}
.ux-section-body {
  padding: 6px;
}

//
// Column container.
//

.ux-columns {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  overflow-y: hidden;
  align-items: stretch;
}

.ux-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  overflow: hidden;
}

//
// Row container.
//

.ux-row {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  overflow-x: hidden;
  align-items: center;
}

//
// Scroll container.
// NOTE: The outer scroll-container must expand and make the overflow hidden.
// NOTE: Scrolling requires display:flex in all ancestors.
// https://css-tricks.com/almanac/properties/s/scrollbar
//
// <div class="ux-scroll-container">
//   <div class="ux-scroll-x-panel"/>
// <div>
//

.ux-scroll-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  overflow: hidden;
}

.ux-scroll-x-panel {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  overflow-x: scroll;
  overflow-y: hidden;
}
.ux-scroll-x-panel::-webkit-scrollbar {
  height: 8px;
}
.ux-scroll-x-panel::-webkit-scrollbar-thumb {
  background-color: #666;
}

//
// Toolbars.
//

.ux-bar {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;

  justify-content: space-between;
}

.ux-navbar {
  .ux-bar;

  background-color: @ux-navbar-background;
  color: @ux-navbar-color;

  box-shadow: 0 4px 8px #AAA;
  z-index: 999;

  // Title editor.
  .ux-header {

    // TODO(burdon): Rationalize with searchbox

    .ux-title {

      margin: 0 8px;

      div.ux-textbox {
        justify-content: center;
      }

      input.ux-textbox {
        margin: 0 16px;
        border: none;
        text-align: center;

        background-color: white;
        border-radius: 4px;
        padding: 4px;
      }
    }
  }

  .ux-navbar-buttons {
    .ux-text-nowrap;

    margin: 0 8px;

    > div {
      display: flex;
      justify-content: center;
      background-color: #78a1c3;
      padding: 3px;
      border-radius: 2px;

      .ux-icon {
        color: royalblue;
        font-size: @ux-font-medium;
      }

      .ux-icon.ux-icon-active {
        color: #013b68;
      }
    }
  }
}

.ux-toolbar {
  .ux-bar;

  > input, button, select {
    margin-left: @ux-toolbar-padding;
  }

  > input:first-child, button:first-child, select:first-child {
    margin-left: 0;
  }
}
