//
// Copyright 2016 Minder Labs.
//

@import './theme.less';

//
// General Rules:
// Containers should have not margins or padding.
//

.ux-fullscreen {
  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ux-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.ux-app-header {
  background-color: @ux-header-background;
  color: @ux-header-color;

  a {
    color: @ux-header-color;
  }

  i.ux-icon {
    font-size: @ux-font-large;
  }

  h1 {
    padding: 0 8px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      display: inline;
      padding-left: 8px;
    }
  }
}

//
// Column container.
//

.ux-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

//
// Row container.
//

.ux-row {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  overflow-x: hidden;

  > i:first-child,
  > a i:first-child {
    margin-right: 8px;
  }
}

//
// Scroll container.
// https://css-tricks.com/almanac/properties/s/scrollbar/
//

.ux-scroll-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
.ux-scroll-panel {
  overflow-y: scroll;
  background-color: white;
}
.ux-scroll-panel::-webkit-scrollbar {
  -webkit-appearance: inherit;
  width: 4px;
}
.ux-scroll-panel::-webkit-scrollbar-track {
  background-color: white;
}
.ux-scroll-panel::-webkit-scrollbar-thumb {
  background-color: #666;
}

//
// Content section.
//

.ux-section {
  padding: @ux-section-padding;
}
.ux-section-header {
  padding: @ux-section-header-padding;
  background-color: @ux-section-header-background;
  color: @ux-section-header-color;

  i.ux-icon {
    color: @ux-section-header-color;
  }
}

//
// Modifiers.
//

.ux-center {
  justify-content: center;
}

.ux-expand {
  display: flex;
  flex-grow: 1;
}

//
// Toolbars.
//

.ux-bar {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;

  font-size: 0;                               // Removes default text padding.
}

.ux-navbar {
  .ux-bar;

  justify-content: space-between;

  background-color: @ux-background-light;
  padding: 4px;
}

.ux-toolbar {
  .ux-bar;

  background-color: @ux-toolbar-background;
  padding: @ux-toolbar-padding;

  > input, button, select {
    margin-left: @ux-toolbar-padding;
  }

  > input:first-child, button:first-child, select:first-child {
    margin-left: 0;
  }
}
