//
// Copyright 2016 Minder Labs.
//

//
// Mixins are included by other less files.
// @import (reference) './mixin';
// .ux-foo { .ux-text-noselect }
//

// Prevent text selection.
.ux-text-noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

// Truncate text with ellipsis.
.ux-text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

// Prevent collapse of empty div by appending &nbsp;
.ux-text-nocollapse::after {
  content: '\00a0';
}

.ux-center {
  display: flex;
  justify-content: center;
}

.ux-expand {
  display: flex;
  flex-grow: 1;
}

.ux-noshrink {
  display: flex;
  flex-shrink: 0;
}

.ux-noborder {
  border: none;
}
