//
// Copyright 2016 Minder Labs.
//

//
// Mixins are included by other less files.
// @import (reference) './mixin';
// .ux-foo { .ux-noselect }
//

.ux-noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ux-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
