{{#section 'head'}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <style>
    body {
      font-family: Roboto, sans-serif;
      overflow: hidden;
    }

    h1, h2, h3 {
      font-weight: 100;
    }

    .test-content {
      margin: 16px 0;
      padding: 16px;
      border: 1px solid #EEE;
    }

  </style>
{{/section}}

<div class="site-container">

  <h1>CRX Testing</h1>

  <div class="test-panel">
    <label>
      <select id="content-select">
        <option>Empty</option>
      </select>
    </label>
  </div>

  <div id="content" class="test-content"></div>

</div>

<!-- Trigger CRX to open automatically. -->
<div id="crx-testing"></div>

<script>
  'use strict';

  const ITEMS = {
    t1: { type: 'Contact', title: 'Alice',      email: 'alice.braintree@gmail.com'  },
    t2: { type: 'Contact', title: 'Bob',        email: 'bob@example.com'            },
    t3: { type: 'Contact', title: 'Catherine',  email: 'catherine@example.com'      },
    t4: { type: 'Contact', title: 'David',      email: 'david@example.com'          },
    t5: { type: 'Contact', title: 'Emiko',      email: 'emiko@example.com'          },
  };

  $(document).ready(() => {

    _.each(ITEMS, (value, key) => {
      $('#content-select').append($('<option>').attr('value', key).text(value.title));
    });

    $('#content-select').change(event => {
      let item = ITEMS[$(event.target).val()];
      let content = $('#content').empty();
      if (item) {
        // Triggers DOM change for TestInspector.
        content.append($('<div>').text(item.title).attr('email', item.email));
      }
    });

  });
</script>
