{{#section 'head'}}
  <style>
    body {
      font-family: Roboto, sans-serif;
    }
    h1, h2, h3 {
      font-weight: 100;
    }
  </style>
{{/section}}

<div class="site-container">

  <h1>CRX Testing</h1>

</div>

<!-- Trigger CRX to open automatically. -->
<div id="crx-testing"></div>

<script>
</script>
