<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">

  <head>
    <title>Demo</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/assets/main.css">
  </head>

  <body>
    <div id="app-container"></div>

    {{!-- Safestring syntax. --}}
    <script>
      window.config = {{{ toJSON config }}};
    </script>

    <script src="/assets/main.bundle.js"></script>

    <form id="app-error" action="/error", method="post">
      <input type="hidden" name="error" value="blah"/>
    </form>
  </body>

</html>
