<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">

  <head>
    <title>Demo</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/assets/main.css">
  </head>

  <body>
    <div id="app-container">
      <div class="app-panel">
        <div class="app-header">
          <h1>Login</h1>
        </div>

        <div class="app-section">
          <form action="/login" method="post">
          <div class="app-toolbar">
            <input class="app-expand" type="text" name="username" value="U-1" autofocus/>
            <button>Login</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </body>

</html>
