<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">

  <head>
    <title>Demo</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/assets/main.css">
  </head>

  <body>
    <div class="app-root-container">
      <div class="app-main-container">
        <div class="app-main-panel app-column">
          <div class="app-header">
            <div>
              <h1>Clients</h1>
            </div>

            <div class="app-links">
              <a href="/logout">Login</a>
            </div>
          </div>

          {{ socket }}

          <div class="app-panel">
            <div class="app-section">
              {{#each sockets}}
                <div class="app-row" style="margin: 8px">
                  <div class="app-expand">{{ id }}</div>
                  <button onclick="ping('{{ id }}')">Ping</button>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <form id="invalidate" action="/client/invalidate" method="POST">
      <input type="hidden" name="socketId"/>
    </form>

    <script>
      function ping(socketId) {
        var form = document.getElementById('invalidate');
        form['socketId'].value = socketId;
        form.submit();
      }
    </script>
  </body>

</html>
