<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">

  <head>
    <title>Error</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/assets/main.css">
  </head>

  <body>
    <div class="app-root-container">
      <div class="app-main-container">
        <div class="app-main-panel app-column">
          <div class="app-header">
            <div>
              <h1>Error</h1>
            </div>

            <div class="app-links">
              <a href="/logout">Login</a>
            </div>
          </div>

          <div class="app-panel app-error">
            <pre>{{ error }}</pre>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
