<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">

  <head>
    <title>Graphene Demo</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('app.static', filename='main.css') }}">
  </head>

  <body>
    <div id="app-container"></div>

    <script>
      window.config = {
        userId: '{{ user_id }}',
        relay: {
          path: '/data/graphql'
        }
      };
    </script>

    <script src="{{ url_for('app.static', filename='main.bundle.js') }}"></script>
  </body>

</html>
