<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en">

  <head>
    <title>Graphene Server</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>

  <body>
    <h1>Graphene Server</h1>

    <a href="{{ url_for('app.home') }}">App</a>

    <pre class="app-json">{{ json|tojson(indent=2) }}</pre>
  </body>

</html>
