//
// Copyright 2016 Minder Labs.
//

.app-base-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;

  background-color: white;

  .ux-header {

    i.ux-icon {
      font-size: 24px;
    }

    h1 {
      margin-left: 8px;
      font-family: Poiret One, sans-serif;
    }
  }
}
