//
// Copyright 2016 Alien Laboratories, Inc.
//

.app-item-task {
  .app-data {
    .app-data-row {
      .app-key {
        width: 100px;
        flex-shrink: 0;
        line-height: 28px;
      }

      .app-picker {
        margin-left: -4px;
      }
    }
  }
}
