{
  //
  // http://babeljs.io/docs/usage/babelrc
  // http://babeljs.io/docs/usage/options
  //

  "presets": [
    "es2015",
    "stage-0"
  ],

  //
  // NOTE: Different build configuration are MERGED with the defaults above, for example:
  //
  // webpack
  // BABEL_ENV=production webpack
  // BABEL_ENV=server webpack --config webpack-server.config.js
  //

  "env": {

    // Default.
    "development": {
      "plugins": [
        // Relay Schema.
        "./tools/babel/relay_plugin",

        // HRM: http://gaearon.github.io/react-hot-loader/getstarted
        "react-hot-loader/babel"
      ],
      "presets": [
        "react"
      ]
    },

    "production": {
      "plugins": [
        "./tools/babel/relay_plugin"
      ],
      "presets": [
        "react"
      ]
    },

    "react-native": {
      "plugins": [
        "react",
        "react-native"
      ],
      "presets": []
    },

    "server": {
      "plugins": [],
      "presets": []
    }
  }
}
