//
// Copyright 2016 Minder Labs.
//

.app-split-layout {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  overflow: hidden;

  .app-finder-panel {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    // TODO(burdon): Factor out.
    width: 350px;

    background-color: #FAFAFA;
    border-right: 1px solid #EEE;
    overflow: hidden;
  }

  .app-main-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    overflow: hidden;
  }
}
