//
// Copyright 2016 Minder Labs.
//

.app-debug-panel {
  position: fixed;
  left: 16px;
  bottom: 32px;

  color: orange;
  background-color: #333;
  font-size: 12px;

  opacity: .8;
  padding: 8px;
  border-radius: 4px;

  label {
    cursor: pointer;
  }
}
