//
// Copyright 2016 Minder Labs.
//

.app-debug-panel-container {
  position: relative;

  .app-debug-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;

    color: darkgray;
    background-color: #333;
    font-family: Monaco, monospace;
    font-size: 12px;

    opacity: .8;
    padding: 4px;

    label {
      cursor: pointer;
    }
  }
}
