//
// Copyright 2016 Alien Laboratories, Inc.
//

@import '../../common/components/web/defs/core';
@import '../../common/components/web/defs/theme';

@import (reference) '../../common/components/web/defs/mixin';

//
// Container layout.
//

#app-container {
  .app-fullscreen;

  display: flex;
  flex-direction: row;
  justify-content: center;

  > .app-column {
    width: 500px;

    background-color: @app-container-background;
    box-shadow: @app-boxshadow;

    .app-header {
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      padding: 8px;

      background-color: @app-header-background;

      > div:first-child {
        display: flex;
        flex-grow: 1;
        align-items: center;

        i {
          color: @app-header-title-color;
          font-size: @app-font-large;
        }

        h1 {
          flex-grow: 1;
          margin: 0 0 0 8px;
          font-size: @app-font-large;
          color: @app-header-title-color;
        }
      }

      .app-links {
        font-weight: 100;
        color: @app-header-title-color;

        a {
          margin-left: 8px;
          color: @app-header-title-color;
        }
      }
    }

    .app-sidebar {
      .app-list-item {
        cursor: pointer;
      }
    }

    .app-footer {
      flex-shrink: 0;
      height: 4px;

      background-color: @app-footer-background;
    }
  }
}
