{{#section 'head'}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One:400">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/words.css">
{{/section}}

<div class="app-container">
  <div class="app-column app-center">

    <div class="app-window-container">
      <div class="app-window">
        <div class="app-header app-row">
          <h1 class="app-expand">Login</h1>
          <i class="app-logo material-icons">toll</i>
        </div>

        <!-- FAKE LOGIN -->
        <form action="/auth" method="post">
        <div class="app-row">
          <input class="app-expand" name="userId" type="text" autofocus="autofocus" spellcheck="false"/>
          <button>Login</button>
        </div>
        </form>
      </div>
    </div>

    <div class="app-title">
      <div></div>
      <div class="app-mind">mind</div>
      <div>er</div>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/js/words.js"></script>
</div>
