{{#section 'head'}}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One:400">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/words.css">
{{/section}}

<div class="app-container">
  <div class="app-column">

    <div>
      <div class="app-login-container">
        <div class="app-login">
          <div class="app-header app-row">
            <h1 class="app-expand">Login</h1>
            <i class="app-logo material-icons">toll</i>
          </div>

          <form action="/auth" method="post">
          <div class="app-row">
            <input class="app-expand" name="username" type="text" autofocus="autofocus" spellcheck="false"/>
            <button>Login</button>
          </div>
          </form>
        </div>
      </div>

      <div class="title">
        <div></div>
        <div class="mind">mind</div>
        <div>er</div>
      </div>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/js/words.js"></script>
</div>
